@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h2>Access Denied</h2>
    <p>You do not have permission to view this page.</p>
    <a href="/" class="button">Return to Home</a>
</div>
