@{
    ViewData["Title"] = "Home";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>XRoute</h1>
    <p>Your go-to travel information system</p>
    <a href="/Account/Login"><button>Login</button></a>
    <a href="/About"><button>About</button></a>
</div>
