@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Welcome to XRoute</h1>
    <p>Discover the fastest and most reliable online information system for all your travel needs.</p>
    <img src="~/images/welcome_image.png" alt="XRoute Map" style="max-height: 80vh; width: auto;">
</div>
